@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IniciarSesion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        body {
            background: url('../images/fondologin.png') center center fixed;
            background-size: cover;
            position: relative;
            margin: 0; /* Agregamos esto para eliminar los márgenes predeterminados del body */
        }

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); /* Utilizamos un degradado */
            z-index: -1;
        }

        .container {
            position: relative;
            z-index: 1;
        }

        .card {
            background-color: transparent; /* Hacemos la tarjeta transparente */
        }

        .card-body {
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 5%;
        }

        .card-header h5{
            color: white;
            text-align: center;
        }
        .card{
            border-radius: 5%;
        }

        button {
            padding: 1.3em 3em;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            font-weight: 500;
            color: #000;
            background-color: #d9d9d9;
            border: none;
            border-radius: 45px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease 0s;
            cursor: pointer;
            outline: none;
        }

            button:hover {
                background-color: #23c483;
                box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
                color: #d9d9d9;
                transform: translateY(-7px);
            }

            button:active {
                transform: translateY(-1px);
            }

        .mens p{
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="overlay"></div>

    <div class="container mt-5 pt-5">

        <div class="row justify-content-center">
            <div class="col-12 col-xl-4 col-md-6">

                <div class="card">
                    <div class="card-header">
                        <b><h5>Iniciar Sesion</h5></b>
                    </div>
                    <div class="card-body">

                        <form method="post" asp-action="IniciarSesion" asp-controller="Login">
                            <div class="mens">
                                <p>
                                    Inicie sesión para hacer su reserva
                                </p>
                            </div>
                           
                            <br>
                            <input class="form-control mb-3" type="text" placeholder="Correo" required name="Correo" />
                            <br>
                            <input class="form-control mb-3" type="password" placeholder="Clave" required name="Clave" />
                            <br>
                            <div class="d-grid gap-2 mb-3">
                                <button type="submit">Iniciar Sesion</button>
                            </div>

                            @if (ViewData["Mensaje"] != null)
                            {
                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">
                                        @ViewData["Mensaje"]
                                    </div>
                                </div>
                            }
                            ¿No tienes una cuenta? <a href="@Url.Action("Registro","Login")"> Registraste!</a>

                        </form>

                    </div>


                </div>

            </div>
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>